<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @restaurant %>
<h2>All reviews for <%= @restaurant.name %></h2>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li>Review: <%= review.content %></li>
  <li>Rating :<%= review.rating %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Review this restaurant", new_restaurant_review_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
</div>
